
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <p class="utilities navbar-text navbar-right text-right"> Welcome, @User.Identity.GetUserName() | <a href="javascript:document.getElementById('logoutForm').submit()" title="Logout">Logout</a></p>
    }
}